<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="pie-chart"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="transacciones" href="/tabs/transacciones">
      <ion-icon name="list"></ion-icon>
      <ion-label>Transacciones</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="usuario" href="/tabs/usuario">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>