<div class="photo-selector">
  <div *ngIf="fotoActual && fotoActual !== ''" class="photo-preview-container">
    <img [src]="fotoActual" class="preview-img" alt="Foto del comprobante" />
  </div>
  <div class="photo-buttons">
    <ion-button fill="outline" size="small" (click)="tomarFoto()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Tomar Foto
    </ion-button>
    <ion-button fill="outline" size="small" (click)="seleccionarGaleria()">
      <ion-icon slot="start" name="images"></ion-icon>
      Galería
    </ion-button>
    <ion-button *ngIf="fotoActual && fotoActual !== ''" fill="outline" size="small" color="danger" (click)="eliminarFoto()">
      <ion-icon slot="start" name="trash"></ion-icon>
      Eliminar
    </ion-button>
  </div>
</div>