<ion-item button (click)="onClick.emit()" detail>
  <ion-avatar slot="start" [style.background]="transaccion.categoria | categoryColor">
    <ion-icon [name]="transaccion.categoria | categoryIcon" color="light"></ion-icon>
  </ion-avatar>
  <ion-label>
    <h3>{{ transaccion.descripcion || transaccion.categoria }}</h3>
    <p>{{ transaccion.fecha | dateFormat }} · <app-category-badge [categoria]="transaccion.categoria" [mostrarIcono]="false"></app-category-badge></p>
  </ion-label>
  <div slot="end" class="ion-text-end">
    <app-amount-display [monto]="transaccion.monto" [tipo]="transaccion.tipo" tamano="small"></app-amount-display>
    <ion-icon *ngIf="transaccion.comprobante" name="image" color="medium" size="small"></ion-icon>
  </div>
</ion-item>